<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About us</h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        natus earum nostrum similique atque cupiditate repudiandae vitae! Velit
        molestiae odit, aut quod nam, voluptatibus exercitationem est assumenda
        quisquam soluta culpa quas ducimus esse quia dicta quidem repellat,
        cumque tenetur? Doloribus?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        natus earum nostrum similique atque cupiditate repudiandae vitae! Velit
        molestiae odit, aut quod nam, voluptatibus exercitationem est assumenda
        quisquam soluta culpa quas ducimus esse quia dicta quidem repellat,
        cumque tenetur? Doloribus?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus
        natus earum nostrum similique atque cupiditate repudiandae vitae! Velit
        molestiae odit, aut quod nam, voluptatibus exercitationem est assumenda
        quisquam soluta culpa quas ducimus esse quia dicta quidem repellat,
        cumque tenetur? Doloribus?
      </p>
      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>
