<div class="card shadow-effect">
  <img
    src="https://images.pexels.com/photos/17746505/pexels-photo-17746505/free-photo-of-natura-chmury-gora-wulkan.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ml-3">Featured</small>
    <small class="bg-light text-info text-center ml-3">Views-100,232</small>

    <h5 class="mt-1">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h5>
    <p>
      Starting a blog in 2023 is an exciting endeavor, as the internet continues
      to evolve, and the possibilities for sharing content are more diverse than
      ever before. Here are a few key steps to help you start blogging in the
      new year.
    </p>
    <small class="bg-light text-warning text-center ml-3"
      >LAST UPDATED - SEP 20, 2023</small
    >
  </div>
</div>
